*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: aliceblue;
    width: 500px;
    padding: 2rem;
    margin: 50px auto;
    border-top: 5px solid blue;

}
.container h2,h3{
    font-size: 24 px;
    line-height: 24px;
    text-align: center;
}

.input-name{
    width: 100%;
    position: relative;
    padding: 1rem;
    /* margin: 20px auto; */
}