
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: aliceblue;
    width: 50%;
    padding: 2rem;
    margin: 50px auto;
    border-top: 5px solid blue;

}
.container h2,h3{
    font-size: 24 px;
    line-height: 24px;
    text-align: center;
}

.input-name{
    width: 100%;
    position: relative;
    padding: 1rem;
    /* margin: 20px auto; */
}
/* CSS styles for the check-box declaration */
.declaration h5 {
    /* Styles for h5 */
    display: inline; /* Display as inline element */
    margin-left: 10px; /* Example margin */
}

.declaration input[type="checkbox"] {
    /* Styles for checkbox */
    display: inline-block; /* Display as inline-block element */
    vertical-align: middle; /* Align vertically with the adjacent content */
}