/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  @keyframes fireAnimation {
    0% { background-position: 0 0; }
    100% { background-position: 100% 0;
     }
    }
  
  